.post .expressive-code {
  @apply mb-[1em] mt-[1em] w-full rounded-2xl;
}

.post .flowchart {
  @apply m-auto;
}

.post pre > code {
  @apply border-0 bg-transparent p-0 dark:bg-transparent;
}

.post aside {
  @apply relative mb-[1em] mt-[1em] overflow-hidden rounded-2xl bg-zinc-200 p-[1em] pl-[1.4em] dark:bg-zinc-800;
}

.post table {
  @apply w-full overflow-x-auto;
}

html {
  visibility: hidden;
}
html.dark {
  visibility: visible; /* 다크 모드 설정 후 보이도록 */
}
html.light {
  visibility: visible; /* 라이트 모드 설정 후 보이도록 */
}
