---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex h-[calc(100dvh-80px)] flex-col items-center justify-center">
    <h1>안녕하세요!</h1>
    <h3>이곳은 저의 기술블로그 입니다.</h3>
  </div>
</BaseLayout>
