---
import type { ComponentProps } from "react";
import Icon from "./Icon.astro";
import { cva } from "class-variance-authority";
import cn from "src/lib/cn";

interface Props extends ComponentProps<"button"> {
  intent?: "primary" | "secondary" | "icon" | "teritory";
  padding?: "sm" | "md" | "lg";
  size?: "sm" | "md" | "lg";
  icon?: "home" | "category" | "question" | "menu" | "cancel";
  className?: string;
  id?: string;
}

const button = cva("transition", {
  variants: {
    intent: {
      primary: ["bg-blue-500", "text-white", "hover:bg-blue-400"],
      secondary: ["text-zinc-500", "hover:text-zinc-800"],
      teritory: ["hover:text-zinc-400"],
      icon: ["hover:bg-blue-500", "hover:text-white", "rounded-lg"],
    },
    size: {
      sm: ["text-sm"],
      md: ["text-base"],
      lg: ["text-lg"],
    },
    padding: {
      sm: ["p-1"],
      md: ["p-2"],
      lg: ["p-3"],
    },
  },
});

const { size, padding, intent = "primary", icon, className, id } = Astro.props;
---

<button
  id={id ? id : "button"}
  class={cn(button({ intent, size, padding }), className)}
>
  {
    intent === "icon" && icon ? (
      <Icon icon={icon}>
        <slot />
      </Icon>
    ) : (
      <slot />
    )
  }
</button>
