---
import type { ComponentProps } from "react";
import Icon from "./Icon.astro";

interface Props extends ComponentProps<"a"> {
  title?: string;
  href?: string;
  variants?: "primary" | "secondary" | "icon";
  type?: "home" | "category" | "question";
}

const { href, title, variants = "primary", type } = Astro.props;
---

<a href={href} class:list={["button", variants]}>
  {
    variants === "icon" && type ? (
      <Icon type={type}>
        <slot />
      </Icon>
    ) : (
      <p>
        {title}
        <span>&rarr;</span>
      </p>
    )
  }
</a>

<style>
  a {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0 12px;
    text-decoration: none;
    justify-content: center;
    transition: all 0.15s ease-in-out;
  }
  a:is(:active) {
    transform: scale(95%);
  }
  a > p {
    font-size: 12px;
    margin: 0;
  }
  .primary {
    background-color: var(--main-gray);
    color: var(--gray-300);
  }
  .primary:is(:hover) {
    color: var(--gray-600);
    background-color: var(--gray-100);
  }
  .secondary {
    color: var(--gray-600);
    border: 1px solid var(--gray-600);
  }
  .secondary:is(:hover) {
    background-color: var(--main-gray);
    color: var(--gray-100);
  }
  .icon {
    padding: 12px;
    color: var(--gray-500);
  }
  .icon:is(:hover) {
    background-color: var(--main-gray);
    color: var(--gray-200);
  }
</style>
