---
import { getCollection } from "astro:content";
import { categories } from "src/content/config";
import CategoryList from "./CategoryList";

const { slug } = Astro.params;
---

<nav
  class="dark:bg-var-accent-dark fixed left-0 top-0 z-30 h-dvh w-64 overflow-y-scroll border-r border-zinc-200 bg-zinc-100 p-5 pt-20 scrollbar-none max-md:hidden dark:border-zinc-700"
>
  <div class="flex flex-col gap-2">
    {
      categories.map(async (category) => {
        const posts = await getCollection(category);

        return (
          <CategoryList
            client:only="preact"
            category={category}
            posts={posts}
            slug={slug}
          />
        );
      })
    }
  </div>
</nav>
