---
import { getCollection } from "astro:content";
import CategoryList from "./CategoryList.astro";

const categories = ["HTML", "CSS", "JavaScript", "React"] as const;
---

<nav
  class="fixed left-0 top-0 z-30 h-dvh w-64 overflow-y-scroll border border-zinc-200 bg-white p-5 pt-20 scrollbar-none"
>
  <div class="flex flex-col gap-2">
    {
      categories.map(async (category) => {
        const posts = await getCollection(category);

        return <CategoryList category={category} posts={posts} />;
      })
    }
  </div>
</nav>
