---
import { getCollection } from "astro:content";
import { categories } from "src/content/config";
import CategoryList from "./CategoryList";

const { slug } = Astro.params;
---

<nav
  class="fixed left-0 top-0 z-30 h-dvh w-64 overflow-y-auto border-r border-zinc-200 bg-zinc-100 p-5 pt-20 dark:border-zinc-700 dark:bg-var-accent-dark max-md:hidden"
>
  <div class="flex flex-col gap-2">
    {
      categories.map(async (category) => {
        const posts = await getCollection(category.name);

        return (
          <CategoryList
            client:only="preact"
            category={category}
            posts={posts}
            slug={slug}
          />
        );
      })
    }
  </div>
</nav>
