---
import { getCollection } from "astro:content";
import { categories } from "src/content/config";
import CategoryList from "./CategoryList";

const { slug } = Astro.params;
---

<nav
  class="fixed left-0 top-[68px] z-30 ml-2 h-[calc(100dvh-76px)] w-64 flex-shrink-0 overflow-hidden rounded-xl border border-zinc-200 bg-white shadow-sm dark:border-zinc-700 dark:bg-var-main-dark max-lg:hidden"
>
  <div class="flex h-full w-full flex-col gap-2 overflow-y-auto p-5">
    {
      categories.map(async (category) => {
        const posts = await getCollection(category);

        return (
          <CategoryList
            client:only="preact"
            category={category}
            posts={posts}
            slug={slug}
          />
        );
      })
    }
  </div>
</nav>
