---
import cn from "src/lib/cn";
import Button from "./Button";
import Link from "./Link";
import MobileSideNavigation from "./MobileSideNavigation.astro";
import ThemeButton from "./ThemeButton";

const pathname = Astro.url.pathname;
const isPostLayout = pathname.includes("/blog");
---

<header
  class={cn(
    "fixed left-0 right-0 top-2 z-30 mx-2 items-center rounded-xl border border-zinc-200 bg-zinc-100/85 px-1.5 md:px-4 py-1.5 shadow-sm backdrop-blur-md dark:border-zinc-700 dark:bg-var-accent-dark/85 ",
    isPostLayout && "max-lg:rounded-b-none",
  )}
>
  <div class="flex w-full justify-between gap-2">
    <div class="flex gap-2">
      <Button
        id="sidebar-button"
        intent="icon"
        padding="md"
        icon="menu"
        className="lg:hidden"
      />
      <Link intent="icon" padding="md" href="/" icon="home" />
      <Link intent="icon" padding="md" href="/resume" icon="question" />
    </div>
    <div class="flex gap-2">
      <Link
        intent="icon"
        padding="md"
        href="https://github.com/kidboi666"
        viewBox="0 0 18 18"
        icon="github"
      />
      <ThemeButton client:only="preact" />
    </div>
  </div>
</header>
<MobileSideNavigation />

<script is:inline>
  const button = document.querySelector("#sidebar-button");

  button.addEventListener("click", () => {
    sidebar.classList.toggle("-translate-x-full");
  });
</script>
