---
import type { ComponentProps } from "react";
import Icon from "./Icon.astro";
import { cva } from "class-variance-authority";
import cn from "src/lib/cn";

interface Props extends ComponentProps<"a"> {
  href?: string;
  intent?: "primary" | "secondary" | "icon";
  icon?: "home" | "category" | "question";
  size?: "sm" | "md" | "lg";
  padding?: "sm" | "md" | "lg";
  className?: string;
}

const link = cva("transition rounded-lg", {
  variants: {
    intent: {
      primary: ["bg-blue-500", "text-white", "hover:bg-blue-400"],
      secondary: ["text-zinc-500", "hover:text-zinc-800"],
      icon: ["hover:bg-blue-500", "hover:text-white", "rounded-lg"],
    },
    size: {
      sm: ["text-sm"],
      md: ["text-base"],
      lg: ["text-lg"],
    },
    padding: {
      sm: ["p-1"],
      md: ["p-2"],
      lg: ["p-3"],
    },
  },
});

const {
  href,
  className,
  size = "md",
  intent = "primary",
  padding,
  icon,
} = Astro.props;
---

<a href={href} class={cn(link({ intent, size, padding }), className)}>
  {
    intent === "icon" && icon ? (
      <Icon icon={icon}>
        <slot />
      </Icon>
    ) : (
      <p>
        <slot />
      </p>
    )
  }
</a>
