---
import { getCollection } from "astro:content";
import Button from "./Button";
import CategoryList from "./CategoryList";
import { categories } from "@content/config";

const { slug } = Astro.params;
---

<nav
  class="fixed left-0 top-0 z-50 h-dvh w-80 overflow-y-scroll border-r border-zinc-200 bg-white p-5 scrollbar-none dark:border-zinc-700 dark:bg-var-accent-dark md:hidden"
>
  <div class="flex flex-col gap-4">
    <Button
      id="close-sidebar-button"
      intent="icon"
      padding="md"
      icon="cancel"
      className="self-end"
    />
    <div class="flex flex-1 flex-col gap-2">
      {
        categories.map(async (category) => {
          const posts = await getCollection(category.name);

          return (
            <CategoryList
              client:only="preact"
              category={category}
              posts={posts}
              slug={slug}
            />
          );
        })
      }
    </div>
  </div>
</nav>
<div
  id="background"
  class="fixed bottom-0 left-0 right-0 top-0 z-40 size-full bg-black/25 backdrop-blur-sm md:hidden"
>
</div>

<script is:inline>
  const closeButton = document.querySelector("#close-sidebar-button");
  const background = document.querySelector("#background");

  const closeSidebar = () => sidebar.classList.add("-translate-x-full");

  closeButton.addEventListener("click", closeSidebar);
  background.addEventListener("click", closeSidebar);
</script>
