---
interface Props {
  headings: { depth: number; slug: string; text: string }[];
}

const { headings } = Astro.props;
---

<div class="post-info">
  {
    headings.map((heading) => (
      <a href={`#${heading.slug}`}>
        <p
          class:list={[
            "heading",
            { heading1: heading.depth === 1 },
            { heading2: heading.depth === 2 },
            { heading3: heading.depth === 3 },
            { heading4: heading.depth === 4 },
            { heading5: heading.depth === 5 },
            { heading6: heading.depth === 6 },
          ]}
        >
          {heading.text}
        </p>
      </a>
    ))
  }
</div>

<style>
  .post-info {
    flex: 0 1 auto;
    min-width: 180px;
    max-width: 240px;
    max-height: calc(100dvh - 132px);
    overflow-y: auto;
    position: sticky;
    scrollbar-width: none;
    top: 92px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 16px;
  }
  .heading2 {
    margin-left: 8px;
    font-size: 10px;
  }
  .heading3 {
    margin-left: 20px;
    font-size: 10px;
  }
  .heading4 {
    margin-left: 28px;
    font-size: 10px;
  }
  @media (max-width: 1024px) {
    .post-info {
      display: none;
    }
  }
</style>
