---
import Button from "./Button.astro";

interface Props {
  headings: { depth: number; slug: string; text: string }[];
}

const { headings } = Astro.props;
---

<aside
  class="min-w-44 max-w-60 border-l border-zinc-200 bg-white p-6 xl:order-2"
>
  <div class="sticky top-20 xl:h-[calc(100dvh-120px)]">
    <div class="flex h-full flex-col gap-2 overflow-y-scroll scrollbar-none">
      <!-- <Button title="펼쳐보기" variants="secondary" /> -->
      <h2>목차</h2>
      {
        headings.map((heading) => (
          <a href={`#${heading.slug}`}>
            <p
              class:list={[
                "heading text-xs",
                { heading1: heading.depth === 1 },
                { heading2: heading.depth === 2 },
                { heading3: heading.depth === 3 },
                { heading4: heading.depth === 4 },
                { heading5: heading.depth === 5 },
                { heading6: heading.depth === 6 },
              ]}
            >
              {heading.text}
            </p>
          </a>
        ))
      }
    </div>
  </div>
</aside>

<style>
  .heading2 {
    margin-left: 8px;
  }
  .heading3 {
    margin-left: 20px;
  }
  .heading4 {
    margin-left: 28px;
  }
  .heading:is(:active) {
    color: red;
  }
</style>
