body {
  background: linear-gradient(
    to right,
    #06b6d4 0%,
    #3b82f6 25%,
    #06b6d4 50%,
    #06b6d4 75%,
    #3b82f6 100%
  );
  background-size: 400%;
  font-family: "Goorm Sans", sans-serif;
}
.dark {
  background: linear-gradient(
    to right,
    #283e51 0%,
    #0a1526 25%,
    #283e51 50%,
    #283e51 75%,
    #0a1526 100%
  );
}
