---
import Header from "@components/Header.astro";
import HeaderPostInfo from "@components/HeaderPostInfo.astro";

interface Props {
  title?: string;
  headings?: { depth: number; slug: string; text: string }[];
}

const { title, headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/font.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/variables.css" />
    <link rel="stylesheet" href="/styles/typography.css" />
  </head>
  <body>
    <Header headings={headings} />
    <HeaderPostInfo headings={headings} />
    <slot />
  </body>
</html>
