---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="flex w-full mx-0 justify-center my-10 md:mx-5 gap-10">
    <div class="bg-white w-full p-5 rounded-2xl md:w-[752px] shadow-lg">
      <slot />
    </div>
  </div>
</BaseLayout>
