---
import CategoryNavigation from "@components/CategoryNavigation.astro";
import Header from "@components/Header.astro";
import "../../public/styles/font.css";
import "../../public/styles/base.css";
import "../../public/styles/variables.css";
import "../../public/styles/typography.css";
import '@fontsource/pretendard/400.css'
import '@fontsource/pretendard/500.css'
import '@fontsource/pretendard/600.css'
import '@fontsource/pretendard/700.css'
import '@fontsource/pretendard/800.css'

interface Props {
  title?: string;
  headings?: { depth: number; slug: string; text: string }[];
}

const { title, headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <CategoryNavigation />
    <Header headings={headings} />
    <main class="animate-fade-in pt-16 md:pl-64">
      <slot />
    </main>
  </body>
</html>
