---
import TableOfContents from "@components/TableOfContents";
import ToggleTableOfContents from "@components/ToggleTableOfContents";
import Layout from "./Layout.astro";
import { getEntry } from "astro:content";

const { frontmatter } = Astro.props;
const { slug } = Astro.params;

const post: any = await getEntry(frontmatter.category, slug);
const { headings } = await post.render(post);
---

<Layout headings={headings}>
  <div class="flex flex-col xl:flex-row xl:justify-center">
    <ToggleTableOfContents client:only="preact" headings={headings} />
    <div class="">
      <div class="my-8 w-full px-4 md:px-8 xl:max-w-[752px]">
        <p class="m-0 text-5xl font-bold text-zinc-700 dark:text-zinc-200">
          {frontmatter.title}
        </p>
        <p class="ml-px mt-2 text-sm text-zinc-500">
          등록일 : {new Date(frontmatter.pubDate).toLocaleDateString()}
        </p>
      </div>
      <div class="mt-8 w-full border-b border-zinc-200 dark:border-zinc-800">
      </div>
      <section
        class="post prose prose-zinc my-8 w-full max-w-none px-4 dark:prose-invert prose-headings:mt-[1em] prose-headings:text-zinc-700 prose-p:text-zinc-600 prose-strong:text-zinc-700 prose-code:bg-zinc-200 prose-code:font-normal dark:prose-headings:text-zinc-200 dark:prose-p:text-zinc-400 dark:prose-strong:text-zinc-200 dark:prose-code:bg-zinc-700 md:px-8 xl:max-w-[752px]"
      >
        <slot />
      </section>
    </div>
    <TableOfContents client:only="preact" headings={headings} />
  </div>
  <div id="utterances-container"></div>
</Layout>

<script>
  const script = document.createElement("script");
  const container = document.querySelector("#utterances-container");
  const currentTheme = localStorage.theme;
  Object.entries({
    src: "https://utteranc.es/client.js",
    repo: "kidboi666/ssg-blog",
    "issue-term": "title",
    label: "comments",
    theme: currentTheme === "light" ? "github-light" : "github-dark",
    crossorigin: "anonymous",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });

  container?.appendChild(script);
</script>
