---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="my-16 w-full">
    <div class="post m-auto w-[752px] rounded-lg bg-white p-8">
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  body {
    background: linear-gradient(
      to right,
      #06b6d4 0%,
      #3b82f6 25%,
      #06b6d4 50%,
      #06b6d4 75%,
      #3b82f6 100%
    );
    background-size: 400%;
  }
  .dark {
    background: linear-gradient(
      to right,
      #283e51 0%,
      #0a1526 25%,
      #283e51 50%,
      #283e51 75%,
      #0a1526 100%
    );
  }
</style>
